In [37]:
# import dependencies
import pandas as pd
from collections import Counter

In [38]:
# create dataframe from file
file_path = '../Resources/austinHousingData.csv'
a_sales_df = pd.read_csv(file_path)

a_sales_df.head()

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [39]:
# get list of columns and rowcount
a_sales_df.count()

zpid                          15171
city                          15171
streetAddress                 15171
zipcode                       15171
description                   15171
latitude                      15171
longitude                     15171
propertyTaxRate               15171
garageSpaces                  15171
hasAssociation                15171
hasCooling                    15171
hasGarage                     15171
hasHeating                    15171
hasSpa                        15171
hasView                       15171
homeType                      15171
parkingSpaces                 15171
yearBuilt                     15171
latestPrice                   15171
numPriceChanges               15171
latest_saledate               15171
latest_salemonth              15171
latest_saleyear               15171
latestPriceSource             15171
numOfPhotos                   15171
numOfAccessibilityFeatures    15171
numOfAppliances               15171
numOfParkingFeatures          15171
numOfPatioAndPorchFeatures    15171
numOfSecurityFeatures         15171
numOfWaterfrontFeatures       15171
numOfWindowFeatures           15171
numOfCommunityFeatures        15171
lotSizeSqFt                   15171
livingAreaSqFt                15171
numOfPrimarySchools           15171
numOfElementarySchools        15171
numOfMiddleSchools            15171
numOfHighSchools              15171
avgSchoolDistance             15171
avgSchoolRating               15171
avgSchoolSize                 15171
MedianStudentsPerTeacher      15171
numOfBathrooms                15171
numOfBedrooms                 15171
numOfStories                  15171
homeImage                     15171
dtype: int64

In [40]:
# create copy for use with the machine learning model
ml_data = a_sales_df.copy()

In [41]:
# use only the columns that will be used in the model
ml_data = ml_data[['homeType', 'hasGarage', 'hasCooling', 'hasHeating', 'hasView', 'yearBuilt', 'latestPrice', 
                   'latest_saleyear', 'lotSizeSqFt', 'livingAreaSqFt', 'numOfBathrooms', 'numOfBedrooms', 'numOfStories']]

In [42]:
# print table
ml_data.head()

,homeType,hasGarage,hasCooling,hasHeating,hasView,yearBuilt,latestPrice,latest_saleyear,lotSizeSqFt,livingAreaSqFt,numOfBathrooms,numOfBedrooms,numOfStories
0,Single Family,True,True,True,False,2012,305000.0,2019,6011.0,2601.0,3.0,4,2
1,Single Family,True,True,True,False,2013,295000.0,2020,6185.0,1768.0,2.0,4,1
2,Single Family,False,True,True,False,2018,256125.0,2019,7840.0,1478.0,2.0,3,1
3,Single Family,True,True,True,False,2013,240000.0,2018,6098.0,1678.0,2.0,3,1
4,Single Family,False,True,True,False,2002,239900.0,2018,6708.0,2132.0,3.0,3,2

In [43]:
# get count of all the columns for ml_data
ml_data.count()

homeType           15171
hasGarage          15171
hasCooling         15171
hasHeating         15171
hasView            15171
yearBuilt          15171
latestPrice        15171
latest_saleyear    15171
lotSizeSqFt        15171
livingAreaSqFt     15171
numOfBathrooms     15171
numOfBedrooms      15171
numOfStories       15171
dtype: int64

In [44]:
#save ml_data as cwsv
ml_data.to_csv('../Resources/austin_ml_data.csv')

In [45]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [46]:
reg = LinearRegression()

In [47]:
X = ml_data.drop("latestPrice", axis=1)

y = ml_data['latestPrice']

In [48]:
X['homeType'].unique()

array(['Single Family', 'Residential', 'Mobile / Manufactured',
       'Townhouse', 'Condo', 'Vacant Land', 'Multiple Occupancy', 'Other',
       'Apartment', 'MultiFamily'], dtype=object)

In [49]:
home_type = {
    'Single Family': 0, 
    'Residential': 1,
    'Mobile / Manufactured': 2,
    'Townhouse': 3,
    'Condo': 4,
    'Vacant Land': 5,
    'Multiple Occupancy': 6,
    'Other': 8,
    'Apartment': 9,
    'MultiFamily': 10
}

X['homeType'] = X['homeType'].apply(lambda x: home_type[x])
X

,homeType,hasGarage,hasCooling,hasHeating,hasView,yearBuilt,latest_saleyear,lotSizeSqFt,livingAreaSqFt,numOfBathrooms,numOfBedrooms,numOfStories
0,0,True,True,True,False,2012,2019,6011.0,2601.0,3.0,4,2
1,0,True,True,True,False,2013,2020,6185.0,1768.0,2.0,4,1
2,0,False,True,True,False,2018,2019,7840.0,1478.0,2.0,3,1
3,0,True,True,True,False,2013,2018,6098.0,1678.0,2.0,3,1
4,0,False,True,True,False,2002,2018,6708.0,2132.0,3.0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
15166,0,True,True,True,True,1986,2020,6534.0,1234.0,2.0,3,1
15167,0,True,True,True,True,2016,2020,2439.0,1888.0,4.0,3,3
15168,0,True,True,True,False,1936,2021,9408.0,1524.0,3.0,3,2
15169,10,False,True,True,False,1968,2019,6098.0,6068.0,2.0,4,1
15170,0,True,True,True,True,1955,2021,5227.0,720.0,1.0,2,1

In [50]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [51]:
X['hasGarage'] = le.fit_transform(X['hasGarage'])
X['hasCooling'] = le.fit_transform(X['hasCooling'])
X['hasHeating'] = le.fit_transform(X['hasHeating'])
X['hasView'] = le.fit_transform(X['hasView'])

In [63]:
X

,homeType,hasGarage,hasCooling,hasHeating,hasView,yearBuilt,latest_saleyear,lotSizeSqFt,livingAreaSqFt,numOfBathrooms,numOfBedrooms,numOfStories
0,0,1,1,1,0,2012,2019,6011.0,2601.0,3.0,4,2
1,0,1,1,1,0,2013,2020,6185.0,1768.0,2.0,4,1
2,0,0,1,1,0,2018,2019,7840.0,1478.0,2.0,3,1
3,0,1,1,1,0,2013,2018,6098.0,1678.0,2.0,3,1
4,0,0,1,1,0,2002,2018,6708.0,2132.0,3.0,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...
15166,0,1,1,1,1,1986,2020,6534.0,1234.0,2.0,3,1
15167,0,1,1,1,1,2016,2020,2439.0,1888.0,4.0,3,3
15168,0,1,1,1,0,1936,2021,9408.0,1524.0,3.0,3,2
15169,10,0,1,1,0,1968,2019,6098.0,6068.0,2.0,4,1
15170,0,1,1,1,1,1955,2021,5227.0,720.0,1.0,2,1

In [71]:
y

0        305000.0
1        295000.0
2        256125.0
3        240000.0
4        239900.0
           ...
15166    330000.0
15167    550000.0
15168    875000.0
15169    420000.0
15170    374900.0
Name: latestPrice, Length: 15171, dtype: float64

In [72]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2)
Counter(y_train)

Counter({364900.0: 9,
         309900.0: 22,
         274900.0: 22,
         621999.0: 1,
         535000.0: 26,
         166246.0: 1,
         259990.0: 2,
         349900.0: 63,
         359900.0: 41,
         739900.0: 3,
         340000.0: 61,
         725000.0: 39,
         1890000.0: 6,
         216500.0: 1,
         569000.0: 16,
         379900.0: 30,
         699000.0: 51,
         309500.0: 5,
         449900.0: 39,
         312999.0: 1,
         434900.0: 6,
         299000.0: 50,
         199995.0: 1,
         339900.0: 44,
         349000.0: 39,
         444000.0: 2,
         325000.0: 159,
         335000.0: 76,
         399900.0: 83,
         385000.0: 86,
         499950.0: 3,
         622800.0: 1,
         233000.0: 6,
         563000.0: 1,
         559000.0: 14,
         450000.0: 136,
         445000.0: 31,
         249000.0: 33,
         304999.0: 2,
         629500.0: 2,
         270000.0: 34,
         435000.0: 51,
         258400.0: 1,
         469000.0: 26,
         329900.0: 35,
         599900.0: 27,
         1100000.0: 21,
         519900.0: 11,
         194900.0: 9,
         895000.0: 23,
         160000.0: 10,
         490000.0: 25,
         300000.0: 92,
         224000.0: 3,
         1725000.0: 4,
         799900.0: 14,
         400000.0: 90,
         127500.0: 2,
         579000.0: 23,
         380000.0: 41,
         589000.0: 20,
         529900.0: 13,
         460000.0: 41,
         219900.0: 17,
         399999.0: 20,
         509000.0: 10,
         238900.0: 3,
         1150000.0: 26,
         387900.0: 1,
         3250000.0: 1,
         375000.0: 124,
         210000.0: 25,
         1255000.0: 2,
         499000.0: 60,
         395000.0: 65,
         349500.0: 4,
         334900.0: 23,
         449500.0: 6,
         250000.0: 67,
         195000.0: 17,
         439000.0: 32,
         619500.0: 2,
         350000.0: 133,
         485000.0: 51,
         899000.0: 27,
         850000.0: 37,
         649999.0: 1,
         515000.0: 38,
         339000.0: 37,
         310000.0: 55,
         479000.0: 19,
         225000.0: 63,
         415000.0: 84,
         239000.0: 12,
         475000.0: 106,
         259900.0: 32,
         539900.0: 16,
         665000.0: 13,
         149900.0: 7,
         205000.0: 25,
         800000.0: 20,
         1600000.0: 4,
         459900.0: 27,
         175000.0: 14,
         229900.0: 25,
         299900.0: 70,
         390000.0: 41,
         289900.0: 41,
         526000.0: 1,
         849000.0: 18,
         209900.0: 14,
         1195000.0: 10,
         420000.0: 44,
         287000.0: 7,
         599000.0: 47,
         629900.0: 8,
         374900.0: 19,
         369900.0: 46,
         1650000.0: 5,
         799000.0: 37,
         469900.0: 15,
         399000.0: 99,
         550000.0: 87,
         759900.0: 4,
         1500000.0: 12,
         580990.0: 1,
         2599000.0: 2,
         1199000.0: 8,
         139000.0: 4,
         355000.0: 43,
         529500.0: 1,
         776000.0: 1,
         439900.0: 32,
         700000.0: 26,
         316000.0: 1,
         419900.0: 42,
         389900.0: 37,
         444900.0: 5,
         480000.0: 24,
         365900.0: 1,
         269900.0: 28,
         575000.0: 81,
         369000.0: 32,
         680000.0: 8,
         1790000.0: 3,
         595000.0: 36,
         345000.0: 44,
         230000.0: 45,
         323900.0: 1,
         285000.0: 58,
         130000.0: 2,
         730000.0: 8,
         464900.0: 6,
         178900.0: 2,
         729000.0: 5,
         365000.0: 63,
         348000.0: 6,
         305000.0: 40,
         525000.0: 84,
         975000.0: 25,
         760000.0: 5,
         425000.0: 140,
         279990.0: 2,
         539000.0: 29,
         649000.0: 19,
         379000.0: 39,
         495000.0: 52,
         568000.0: 1,
         255000.0: 44,
         359000.0: 34,
         315000.0: 89,
         235000.0: 52,
         750000.0: 48,
         635000.0: 18,
         320000.0: 53,
         1975000.0: 2,
         239900.0: 28,
         565000.0: 28,
         429000.0: 26,
         779000.0: 6,
         376500.0: 2,
         500000.0: 58,
         295300.0: 1,
         585000.0: 33,
         427990.0: 1,
         405000.0: 30,
         275000.0: 97,
         238500.0: 2,
         470000.0: 15,
         950000.0: 17,
         695000.0: 23,
         419000.0: 22,
         394500.0: 7,
         221900.0: 2,
         1225000.0: 7,
         169900.0: 10,
         549999.0: 3,
         729900.0: 4,
         280000.0: 29,
         1695000.0: 8,
         399993.0: 1,
         342000.0: 5,
         559900.0: 9,
         240000.0: 36,
         269000.0: 23,
         289000.0: 30,
         674000.0: 2,
         260000.0: 39,
         347500.0: 5,
         309000.0: 18,
         424900.0: 26,
         229000.0: 15,
         489000.0: 31,
         429900.0: 39,
         815000.0: 4,
         1795000.0: 4,
         799500.0: 2,
         985000.0: 11,
         428900.0: 1,
         330000.0: 49,
         394999.0: 2,
         399990.0: 7,
         995000.0: 17,
         268000.0: 8,
         308000.0: 3,
         825000.0: 30,
         279000.0: 25,
         900000.0: 8,
         292000.0: 4,
         542995.0: 1,
         323000.0: 2,
         699900.0: 23,
         537500.0: 1,
         290000.0: 36,
         612750.0: 1,
         1200000.0: 18,
         347000.0: 3,
         1250000.0: 18,
         197900.0: 1,
         427750.0: 1,
         264900.0: 10,
         224900.0: 14,
         199900.0: 26,
         379650.0: 1,
         392500.0: 5,
         549900.0: 23,
         545000.0: 18,
         389000.0: 44,
         499999.0: 13,
         774999.0: 1,
         208000.0: 3,
         759983.0: 1,
         715000.0: 8,
         155000.0: 4,
         674900.0: 6,
         1490000.0: 3,
         762500.0: 1,
         675000.0: 54,
         279500.0: 4,
         755000.0: 4,
         329000.0: 30,
         245000.0: 40,
         484000.0: 3,
         627000.0: 2,
         372500.0: 3,
         276000.0: 2,
         489900.0: 12,
         1350000.0: 15,
         319000.0: 19,
         426500.0: 1,
         1389000.0: 2,
         199999.0: 7,
         465000.0: 46,
         457000.0: 5,
         830000.0: 2,
         650000.0: 57,
         278000.0: 5,
         326000.0: 2,
         359990.0: 2,
         187000.0: 1,
         384900.0: 10,
         148900.0: 1,
         1656000.0: 1,
         8750000.0: 1,
         689000.0: 11,
         968000.0: 1,
         574900.0: 12,
         498000.0: 11,
         1550000.0: 10,
         1700000.0: 1,
         159950.0: 1,
         610000.0: 14,
         169997.0: 1,
         749000.0: 23,
         389999.0: 3,
         257900.0: 2,
         440000.0: 36,
         212500.0: 4,
         336000.0: 2,
         294900.0: 6,
         639000.0: 12,
         524900.0: 12,
         499900.0: 44,
         224500.0: 3,
         965000.0: 6,
         446760.0: 1,
         2499000.0: 2,
         1699900.0: 1,
         839900.0: 2,
         429999.0: 6,
         840000.0: 4,
         381000.0: 2,
         1399999.0: 2,
         999000.0: 12,
         438900.0: 2,
         655000.0: 9,
         1015000.0: 1,
         190000.0: 8,
         620000.0: 17,
         509990.0: 1,
         342900.0: 2,
         430000.0: 27,
         110000.0: 2,
         479500.0: 3,
         354900.0: 9,
         615000.0: 22,
         735000.0: 8,
         312000.0: 5,
         418000.0: 3,
         574887.0: 1,
         378500.0: 2,
         264500.0: 2,
         248000.0: 6,
         370000.0: 29,
         520000.0: 20,
         649900.0: 17,
         212000.0: 1,
         2399000.0: 1,
         595999.0: 1,
         629000.0: 10,
         192000.0: 2,
         590000.0: 8,
         1449000.0: 3,
         492500.0: 1,
         404900.0: 2,
         295000.0: 56,
         219000.0: 18,
         244000.0: 3,
         740000.0: 10,
         410000.0: 42,
         519000.0: 20,
         1075000.0: 13,
         1850000.0: 4,
         286990.0: 1,
         499990.0: 2,
         360000.0: 45,
         414000.0: 4,
         238000.0: 8,
         510000.0: 19,
         728950.0: 1,
         409900.0: 15,
         549000.0: 27,
         612500.0: 1,
         449990.0: 3,
         374000.0: 5,
         242625.0: 1,
         423000.0: 1,
         384990.0: 2,
         394900.0: 5,
         583000.0: 1,
         905000.0: 1,
         265000.0: 68,
         679900.0: 2,
         605000.0: 8,
         540000.0: 14,
         884000.0: 1,
         298000.0: 10,
         129900.0: 6,
         324900.0: 23,
         478165.0: 1,
         274000.0: 3,
         474900.0: 11,
         424888.0: 1,
         1400000.0: 4,
         215000.0: 35,
         435900.0: 3,
         469950.0: 1,
         129000.0: 3,
         194000.0: 3,
         281899.0: 1,
         949997.0: 1,
         219950.0: 2,
         630000.0: 7,
         497990.0: 2,
         315900.0: 2,
         237600.0: 1,
         479900.0: 22,
         663600.0: 1,
         329600.0: 1,
         229990.0: 1,
         359999.0: 5,
         469444.0: 1,
         422500.0: 1,
         887000.0: 1,
         612000.0: 4,
         645000.0: 10,
         560000.0: 20,
         157000.0: 1,
         419650.0: 1,
         307500.0: 2,
         289990.0: 3,
         239999.0: 4,
         324990.0: 3,
         577000.0: 1,
         979000.0: 4,
         785000.0: 9,
         244900.0: 13,
         398000.0: 10,
         368000.0: 7,
         288500.0: 2,
         146500.0: 1,
         600000.0: 41,
         1229000.0: 1,
         389500.0: 5,
         3850000.0: 2,
         150000.0: 8,
         174999.0: 2,
         110800.0: 1,
         378000.0: 5,
         720000.0: 10,
         245270.0: 1,
         272000.0: 9,
         279900.0: 25,
         432400.0: 1,
         189123.0: 1,
         220000.0: 24,
         746074.0: 1,
         304000.0: 4,
         789900.0: 2,
         327000.0: 2,
         455000.0: 21,
         112000.0: 1,
         227700.0: 1,
         362500.0: 3,
         259000.0: 19,
         409000.0: 20,
         2225000.0: 1,
         436000.0: 3,
         789000.0: 10,
         437500.0: 5,
         1300000.0: 14,
         249900.0: 49,
         344900.0: 5,
         707000.0: 1,
         463000.0: 4,
         609990.0: 1,
         419999.0: 2,
         364999.0: 2,
         322500.0: 3,
         277900.0: 1,
         282500.0: 1,
         199950.0: 2,
         247900.0: 2,
         359995.0: 2,
         178500.0: 2,
         640000.0: 8,
         1450000.0: 11,
         3600000.0: 1,
         999500.0: 2,
         584900.0: 5,
         524500.0: 2,
         1050000.0: 15,
         314999.0: 3,
         214900.0: 10,
         1999999.0: 2,
         484950.0: 1,
         719900.0: 4,
         352315.0: 1,
         3900000.0: 2,
         169000.0: 5,
         367000.0: 4,
         521275.0: 1,
         170000.0: 9,
         552000.0: 1,
         569999.0: 2,
         1173000.0: 1,
         335269.0: 1,
         191000.0: 1,
         595500.0: 1,
         339990.0: 2,
         459000.0: 20,
         249500.0: 11,
         297700.0: 1,
         364000.0: 3,
         314850.0: 1,
         598000.0: 3,
         232900.0: 1,
         999998.0: 1,
         254999.0: 3,
         849900.0: 8,
         252500.0: 1,
         548000.0: 2,
         209798.0: 1,
         647877.0: 1,
         189000.0: 7,
         298500.0: 4,
         1169000.0: 2,
         993000.0: 1,
         999900.0: 5,
         424950.0: 1,
         724500.0: 1,
         2150000.0: 3,
         168000.0: 1,
         674999.0: 1,
         198500.0: 2,
         399750.0: 1,
         679000.0: 8,
         2590000.0: 2,
         138900.0: 1,
         795000.0: 11,
         474000.0: 2,
         414900.0: 9,
         424999.0: 3,
         478000.0: 2,
         598500.0: 2,
         152500.0: 2,
         505000.0: 8,
         998900.0: 1,
         439995.0: 1,
         489999.0: 2,
         329500.0: 6,
         298900.0: 2,
         178000.0: 4,
         119900.0: 4,
         488105.0: 1,
         417500.0: 5,
         312400.0: 1,
         2249000.0: 1,
         274995.0: 1,
         969000.0: 2,
         414950.0: 1,
         416000.0: 3,
         370950.0: 1,
         449997.0: 1,
         237000.0: 2,
         669990.0: 1,
         596000.0: 1,
         282490.0: 1,
         252450.0: 1,
         639900.0: 7,
         775000.0: 26,
         639990.0: 2,
         519444.0: 2,
         2749000.0: 1,
         2750000.0: 8,
         549500.0: 6,
         1385000.0: 3,
         3100000.0: 1,
         210500.0: 1,
         239979.0: 1,
         217500.0: 3,
         937000.0: 2,
         699990.0: 3,
         512000.0: 3,
         580000.0: 17,
         332500.0: 2,
         1595000.0: 6,
         364500.0: 3,
         999444.0: 1,
         142136.0: 1,
         158950.0: 1,
         454700.0: 1,
         269980.0: 1,
         309998.0: 1,
         705000.0: 3,
         875000.0: 18,
         449000.0: 34,
         247000.0: 5,
         397000.0: 5,
         321900.0: 1,
         599444.0: 1,
         799990.0: 2,
         447900.0: 2,
         189999.0: 1,
         156000.0: 2,
         795775.0: 1,
         1375000.0: 3,
         809900.0: 1,
         144900.0: 1,
         514000.0: 1,
         199888.0: 1,
         739001.0: 1,
         709900.0: 2,
         949500.0: 1,
         363900.0: 1,
         167000.0: 2,
         164900.0: 4,
         599999.0: 6,
         589900.0: 5,
         669000.0: 12,
         272500.0: 3,
         925000.0: 11,
         161000.0: 2,
         530000.0: 18,
         498500.0: 2,
         699950.0: 2,
         824900.0: 6,
         1125000.0: 8,
         519990.0: 2,
         619900.0: 6,
         359500.0: 4,
         327500.0: 1,
         369723.0: 1,
         1099000.0: 10,
         609000.0: 5,
         259999.0: 4,
         134850.0: 1,
         131860.0: 1,
         217000.0: 4,
         658000.0: 3,
         207900.0: 1,
         196900.0: 1,
         291000.0: 1,
         180000.0: 10,
         1299000.0: 6,
         499899.0: 1,
         596900.0: 1,
         745000.0: 12,
         385990.0: 1,
         849500.0: 4,
         549950.0: 3,
         599980.0: 1,
         659000.0: 12,
         413900.0: 1,
         338000.0: 3,
         254000.0: 4,
         819000.0: 3,
         899900.0: 7,
         1245000.0: 1,
         625000.0: 56,
         419700.0: 1,
         539482.0: 1,
         599990.0: 5,
         749900.0: 15,
         569900.0: 10,
         649500.0: 4,
         1475000.0: 5,
         1295000.0: 9,
         1000000.0: 7,
         422000.0: 3,
         618000.0: 1,
         174900.0: 11,
         1992000.0: 1,
         772000.0: 1,
         582000.0: 2,
         200000.0: 24,
         689900.0: 4,
         105000.0: 1,
         1190000.0: 5,
         549750.0: 1,
         287500.0: 5,
         1499999.0: 1,
         166000.0: 1,
         389990.0: 1,
         209000.0: 6,
         459950.0: 1,
         328000.0: 5,
         449999.0: 2,
         2450000.0: 2,
         187900.0: 1,
         1162444.0: 1,
         770000.0: 7,
         374999.0: 3,
         346000.0: 1,
         499400.0: 1,
         372900.0: 1,
         269800.0: 1,
         1130000.0: 2,
         349999.0: 5,
         194500.0: 3,
         529000.0: 15,
         6000.0: 1,
         262000.0: 4,
         1140000.0: 3,
         487000.0: 3,
         519500.0: 4,
         290300.0: 1,
         797000.0: 3,
         389600.0: 1,
         1474900.0: 1,
         504000.0: 1,
         297000.0: 6,
         338900.0: 2,
         349750.0: 2,
         2095000.0: 2,
         1825000.0: 2,
         399500.0: 8,
         292999.0: 1,
         122000.0: 1,
         314900.0: 16,
         179900.0: 15,
         488350.0: 1,
         218900.0: 4,
         749777.0: 1,
         159000.0: 4,
         427500.0: 3,
         427000.0: 1,
         299999.0: 9,
         599500.0: 3,
         292900.0: 2,
         822500.0: 1,
         724900.0: 6,
         239500.0: 3,
         319900.0: 28,
         142500.0: 1,
         301000.0: 2,
         969444.0: 1,
         12720000.0: 1,
         92143.0: 1,
         939900.0: 3,
         184900.0: 5,
         165000.0: 12,
         251000.0: 1,
         468000.0: 2,
         769900.0: 2,
         619000.0: 8,
         147900.0: 2,
         284000.0: 4,
         2995000.0: 4,
         283000.0: 3,
         584500.0: 1,
         564000.0: 2,
         1949000.0: 2,
         717500.0: 2,
         258000.0: 7,
         125000.0: 4,
         179000.0: 7,
         990000.0: 3,
         275800.0: 1,
         647120.0: 1,
         2050000.0: 1,
         409975.0: 1,
         894000.0: 2,
         387000.0: 3,
         207000.0: 5,
         639500.0: 1,
         363000.0: 1,
         307000.0: 3,
         4950000.0: 1,
         614000.0: 2,
         296900.0: 2,
         279400.0: 1,
         488000.0: 1,
         189900.0: 9,
         484999.0: 1,
         185000.0: 21,
         519950.0: 1,
         529550.0: 1,
         379500.0: 9,
         161940.0: 1,
         1499900.0: 2,
         3400000.0: 1,
         237500.0: 1,
         228000.0: 4,
         644900.0: 2,
         337000.0: 6,
         570000.0: 12,
         159900.0: 7,
         94900.0: 2,
         669500.0: 2,
         436900.0: 1,
         342999.0: 1,
         668000.0: 2,
         755834.0: 1,
         289999.0: 2,
         229999.0: 3,
         461900.0: 1,
         502000.0: 2,
         699999.0: 4,
         253000.0: 3,
         318000.0: 8,
         265200.0: 1,
         1395000.0: 8,
         935000.0: 6,
         699777.0: 1,
         229950.0: 2,
         1995000.0: 6,
         878900.0: 1,
         1325000.0: 5,
         856000.0: 1,
         773850.0: 1,
         198900.0: 3,
         224999.0: 2,
         393000.0: 2,
         749500.0: 4,
         3725000.0: 1,
         754500.0: 1,
         379800.0: 1,
         544700.0: 1,
         259521.0: 1,
         589985.0: 1,
         387500.0: 5,
         714900.0: 2,
         509900.0: 5,
         624900.0: 10,
         299500.0: 10,
         392000.0: 2,
         1589000.0: 1,
         309999.0: 4,
         1175000.0: 10,
         284900.0: 12,
         1285000.0: 1,
         949900.0: 4,
         214990.0: 3,
         1025000.0: 3,
         814500.0: 1,
         447500.0: 5,
         417900.0: 1,
         289975.0: 1,
         291990.0: 1,
         584000.0: 4,
         585900.0: 1,
         357500.0: 1,
         1799000.0: 4,
         417000.0: 2,
         448843.0: 1,
         1699000.0: 3,
         134900.0: 3,
         469995.0: 1,
         422900.0: 1,
         279999.0: 4,
         258500.0: 1,
         1327000.0: 1,
         114000.0: 1,
         648900.0: 2,
         1999900.0: 1,
         492000.0: 1,
         364950.0: 1,
         685000.0: 16,
         254900.0: 9,
         99900.0: 3,
         849800.0: 1,
         1495000.0: 5,
         424500.0: 3,
         299997.0: 3,
         416100.0: 1,
         1545000.0: 2,
         489500.0: 2,
         468870.0: 1,
         432000.0: 2,
         509500.0: 1,
         1068000.0: 1,
         1249000.0: 5,
         70000.0: 1,
         829000.0: 8,
         567000.0: 1,
         317500.0: 2,
         206000.0: 1,
         139999.0: 1,
         219500.0: 3,
         69000.0: 1,
         209500.0: 2,
         529444.0: 1,
         299700.0: 2,
         579444.0: 1,
         510500.0: 1,
         257000.0: 1,
         102000.0: 1,
         407500.0: 2,
         574000.0: 4,
         1599000.0: 3,
         499500.0: 6,
         477900.0: 1,
         474500.0: 1,
         120000.0: 5,
         225999.0: 1,
         182099.0: 1,
         314995.0: 1,
         574800.0: 1,
         3750000.0: 2,
         580400.0: 1,
         1070000.0: 1,
         2159000.0: 1,
         594500.0: 1,
         339950.0: 2,
         394655.0: 1,
         300900.0: 1,
         874900.0: 3,
         1095000.0: 6,
         296640.0: 1,
         521000.0: 1,
         154900.0: 3,
         609500.0: 1,

In [73]:
## OverSampling

In [74]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)

In [75]:
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

In [ ]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

In [ ]:
from sklearn.metrics import confusion_matrix

y_pred = model.predict(x_test)
confusion_matrix(y_test, y_pred)

In [ ]:
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))